* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.btn-language {
  border: 0;
  outline: 0;
  background: #db0001;
  color: #fff;
  padding: 7px 20px;
  font-size: 12px;
  border-radius: 4px;
  margin-left: 10px;
  cursor: pointer;
}

.footer {
  padding: 50px 15% 10px;
  background-color: #000;
  color: #777;
}

.row {
  display: flex;
  width: 100%;
  align-items: center;
  flex-wrap: wrap;
  padding: 50px 0;
}

.footer h2 {
  font-size: 18px;
  font-weight: 400;
  margin-bottom: 30px;
}

.footer .col {
  flex-basis: 25%;
  flex-grow: 1;
  margin-bottom: 20px;
}

.footer .col a {
  display: block;
  text-decoration: none;
  color: #777;
  font-size: 14px;
  margin-bottom: 10px;
}

.footer .row {
  align-items: flex-start;
  padding: 10px 0;
}

.footer .btn-language {
  color: #fff;
  padding: 10px 20px;
  border-radius: 3px;
  cursor: pointer;
}

.copyright-txt {
  font-size: 14px;
  margin-bottom: 10px;
  margin-top: 20px;
}

@media only screen and (max-width: 600px) {
  .row:nth-child(2),
  .row:nth-child(4) {
    flex-direction: column-reverse;
  }
}
